.GDPR {
    padding: 20px;
    border: 2px solid var(--light-grey);
    border-radius: 4px;
    min-width: 250px;
}

.GDPR:hover {
    border-color: var(--secondary-color);
}

.GDPRDesktop {
    display: none;
}

.GDPRMobile {
    display: block;
}

@media only screen and (min-width: 576px) {
    .GDPRMobile {
        display: none;
    }
    .GDPRDesktop {
        display: block;
    }
    .GDPRDesktop .GDPRHeader {
        display: flex;
        justify-content: flex-start;
        cursor: default;
    }
    .GDPRHeader h4 {
        color: var(--dark-grey);
        font-size: var(--font-size-lg);
        margin-left: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .GDPR {
        height: 100%;
    }
}

.blackQ {
    display: none;
}

.GDPRHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.GDPRHeader h4 {
    color: var(--dark-grey);
    font-size: var(--font-size-base);
    margin: 0px 10px;
}

.GDPRPara {
    color: var(--dark-grey);
    font-size: var(--font-size-base);
    margin-top: 10px;
    margin-bottom: 0px;
}

.GDPR:hover .GDPRPara {
    color: var(--text-color);
}

.GDPR:hover h4 {
    color: var(--text-color);
}

.greyQ {
    display: flex;
}

.GDPR:hover .greyQ {
    display: none;
}

.GDPR:hover .blackQ {
    display: flex;
}

.greyA {
    display: flex;
}

.blackA {
    display: none;
}

.GDPR:hover .greyA {
    display: none;
}

.GDPR:hover .blackA {
    display: flex;
}