.searchBox {
    min-width: 160px;
}

.input.search {
    border-right: 0px;
    color: var(--secondary-active-color);
}

.searchInput {
    background: var(--white);
}

.input-group-append {
    background: white;
    border: 1px solid var(--secondary-color);
    border-radius: 0 0.25em 0.25em 0;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.selectedSearch.input-group-append {
    background: var(--secondary-active-color);
    border: 1px solid var(--secondary-active-color);
}