.modalButtonDiv {
    height: 60px;
    word-wrap: break-word;
}

.modalButtonDiv:first-of-type {
    margin-left: 10px;
}

.modalButtonDiv .button {
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 0.8em;
}

.warrantyModal {
    margin: 0px 20px;
    padding-top: 0;
}

.warrantyModal h1 {
    font-family: var(--font-family);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.warrantyModal p {
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: var(--font-size-base);
}

.warrantyHeader {
    border-bottom: 0px;
}