/* .dropdownFilter:first-of-type {
    margin-right: 20px;
} */

/* .row {
    margin: 0px;
}

*/

.container {
    padding: 0px;
}

.pillContainer {
    display: flex;
    justify-content: flex-end;
}

.col h1 {
    margin-top: 30px;
    font-size: var(--font-size-base);
    font-weight: bold;
}

.row h3 {
    font-size: var(--font-size-base);
}

.dropdownSort {
    display: none;
}

@media only screen and (min-width: 576px) and (max-width: 924px) {
    .dropdownSortMobile {
        display: none;
    }
    .dropdownSort {
        display: flex;
    }
    .col h1 {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .row h3 {
        font-size: 16px;
    }
}

@media only screen and (min-width: 924px) {
    .col h1 {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .row h3 {
        font-size: 16px;
    }
}

.dropdownTyre {
    margin-bottom: 20px;
}